/* 
============================
Graphs
============================
*/

/* div.container {
  margin: 2em 0;
} */

.graph__box {
  background: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
  padding: 2em;
}

@media screen and (max-width: 650px) {
  .graph__box {
    padding: 1em;
  }
}